<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<widget id="=net.greyback.gracepoint" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
		<name>Gracepoint Church</name>
		<description>
			Gracepoint Church, Coppell, TX
		</description>
		<author email="info@greyback.net" href="http://greyback.net/">
			GreyBack Labs, LLP
		</author>
		<content src="index.html" />
		<access origin="*" />
		<preference name="webviewbounce" value="false" />
		<preference name="UIWebViewBounce" value="false" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="android-minSdkVersion" value="16" />
		<preference name="BackupWebStorage" value="none" />
		<plugin name="org.apache.cordova.battery-status" />
		<plugin name="org.apache.cordova.camera" />
		<plugin name="org.apache.cordova.media-capture" />
		<plugin name="org.apache.cordova.console" />
		<plugin name="org.apache.cordova.contacts" />
		<plugin name="org.apache.cordova.device" />
		<plugin name="org.apache.cordova.device-motion" />
		<plugin name="org.apache.cordova.device-orientation" />
		<plugin name="org.apache.cordova.dialogs" />
		<plugin name="org.apache.cordova.file" />
		<plugin name="org.apache.cordova.file-transfer" />
		<plugin name="org.apache.cordova.geolocation" />
		<plugin name="org.apache.cordova.globalization" />
		<plugin name="org.apache.cordova.inappbrowser" />
		<plugin name="org.apache.cordova.media" />
		<plugin name="org.apache.cordova.network-information" />
		<plugin name="org.apache.cordova.splashscreen" />
		<plugin name="org.apache.cordova.vibration" />
		<plugin name="com.ionic.keyboard" source="pgb" />
		<plugin name="nl.x-services.plugins.socialsharing" />
		<plugin name="com.phonegap.plugins.pushplugin" source="pgb" />
		<plugin name="com.ionic.deploy" source="pgb" />
		<feature name="StatusBar">
			<param name="ios-package" value="CDVStatusBar" onload="true" />
		</feature>
	</widget>
